# Elasticsearch datasource example with Spark 1.5
The following notebook shows how to use the elasticsearch datasource connector from Scala.

In [6]:
import org.elasticsearch.spark._
import org.apache.spark.{SparkConf, SparkContext}
import org.apache.spark.sql.SQLContext

In [7]:
sc.stop

In [8]:
val conf = new SparkConf(true).setMaster("local[*]").setAppName("Jupyter Scala").set("es.nodes","elasticsearch")
val sc = new SparkContext(conf)
val sqlContext = new SQLContext(sc)

In [9]:
val accounts = sqlContext.read.format("org.elasticsearch.spark.sql").load("bank/account")
accounts.printSchema
accounts.show

root
 |-- account_number: long (nullable = true)
 |-- address: string (nullable = true)
 |-- age: long (nullable = true)
 |-- balance: long (nullable = true)
 |-- city: string (nullable = true)
 |-- email: string (nullable = true)
 |-- employer: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)

+--------------+--------------------+---+-------+-----------+--------------------+------------+---------+------+---------+-----+
|account_number|             address|age|balance|       city|               email|    employer|firstname|gender| lastname|state|
+--------------+--------------------+---+-------+-----------+--------------------+------------+---------+------+---------+-----+
|            25|   171 Putnam Avenue| 39|  40540|  Nicholson|virginiaayala@fil...|    Filodyne| Virginia|     F|    Ayala|   PA|
|            44|502 Baycliff Terrace| 37|  34487|  Yardville|aureliaharding@or...|     Orbalix|  Aurelia|     M|  Harding|   DE|
|            99|  806 Rockwell Place| 39|  47159|      Shaft|ratliffheath@zapp...|      Zappix|  Ratliff|     F|    Heath|   ND|
|           119|    302 Howard Place| 28|  49222|    Herlong|lavernejohnson@se...|      Senmei|  Laverne|     F|  Johnson|   DC|
|           126|  620 National Drive| 39|   3607|   Blodgett|effiegates@digita...|   Digitalus|    Effie|     F|    Gates|   MD|
|           145|    891 Elton Street| 32|  47406|     Ripley|rowenawilkinson@a...|   Asimiline|   Rowena|     M|Wilkinson|   NH|
|           183|  823 Herkimer Place| 26|  14223|    Robbins|hudsonenglish@xin...|     Xinware|   Hudson|     F|  English|   ND|
|           190|  636 Diamond Street| 30|   3150|   Crumpler|blakedavidson@qua...|   Quantasis|    Blake|     F| Davidson|   KY|
|           208| 810 Nostrand Avenue| 26|  40760|Brooktrails|garciahess@quilti...|   Quiltigen|   Garcia|     F|     Hess|   GA|
|           222|  333 Narrows Avenue| 36|  14764|     Wright|rachellerice@enau...|       Enaut| Rachelle|     M|     Rice|   AZ|
|           227|   776 Little Street| 22|  19780| Eagleville|colemanberg@exote...|    Exoteric|  Coleman|     M|     Berg|   WV|
|           253|    440 Fuller Place| 31|  20240|  Lumberton|melissagould@buzz...|    Buzzopia|  Melissa|     M|    Gould|   MD|
|           260|   735 Losee Terrace| 30|   2726|   Rushford|kariskinner@singa...|   Singavera|     Kari|     F|  Skinner|   WV|
|           265|  574 Everett Avenue| 26|  46910|  Maplewood|marionschneider@e...|    Evidends|   Marion|     F|Schneider|   WY|
|           335| 252 Bushwick Avenue| 24|  35433|     Manila|verahansen@zanill...|     Zanilla|     Vera|     M|   Hansen|   TN|
|           366|  470 Coleman Street| 31|  42368|      Datil|lydiacooke@comsta...|     Comstar|    Lydia|     M|    Cooke|   TN|
|           385|    933 Lloyd Street| 22|  11022|    Waverly|rosalindavalencia...|     Zoarere|Rosalinda|     M| Valencia|   GA|
|           397|   840 Morgan Avenue| 36|  37418|   Edenburg|leonardgray@recri...|   Recritube|  Leonard|     F|     Gray|   AL|
|           400| 405 Cornelia Street| 21|  20685|       Gulf|kaneking@tri@trib...|Tri@Tribalog|     Kane|     F|     King|   VT|
|           450|      487 Keen Court| 25|   2643|   Hamilton|bradfordnielsen@e...|     Exovent| Bradford|     M|  Nielsen|   DE|
+--------------+--------------------+---+-------+-----------+--------------------+------------+---------+------+---------+-----+
only showing top 20 rows