# Elasticsearch datasource example with Spark 1.5
The following notebook shows how to use the elasticsearch datasource connector from pyspark.

In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

In [2]:
sc.stop()

In [3]:
conf = SparkConf(True).setMaster("local[*]").setAppName("juptyer pyspark").set("es.nodes", "elasticsearch")
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)

In [4]:
accounts = sqlContext.read.format("org.elasticsearch.spark.sql").load("bank/account")
sqlContext.registerDataFrameAsTable(accounts,"accounts")
accounts.printSchema()

root
 |-- account_number: long (nullable = true)
 |-- address: string (nullable = true)
 |-- age: long (nullable = true)
 |-- balance: long (nullable = true)
 |-- city: string (nullable = true)
 |-- email: string (nullable = true)
 |-- employer: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)

In [5]:
sqlContext.sql("select account_number, firstname, lastname, balance from accounts limit 5").show()

+--------------+---------+--------+-------+
|account_number|firstname|lastname|balance|
+--------------+---------+--------+-------+
|            25| Virginia|   Ayala|  40540|
|            44|  Aurelia| Harding|  34487|
|            99|  Ratliff|   Heath|  47159|
|           119|  Laverne| Johnson|  49222|
|           126|    Effie|   Gates|   3607|
+--------------+---------+--------+-------+