# Elasticsearch datasource example with Spark 1.6
The following notebook shows how to use the elasticsearch datasource connector from pyspark.

In [6]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext

In [8]:
sc.stop()

In [9]:
conf = SparkConf(True).setMaster("local[*]").setAppName("juptyer pyspark").set("es.nodes", "elasticsearch")
sc = SparkContext(conf=conf)
sqlContext = SQLContext(sc)

### Load some test data into elasticsearch
The test data provides a number of bank account documents.

In [23]:
bank_accounts = sqlContext.read.json("accounts.json")
bank_accounts.write.mode("overwrite").format("org.elasticsearch.spark.sql").save("bank/account")
bank_accounts.count()

2000

In [24]:
accounts = sqlContext.read.format("org.elasticsearch.spark.sql").load("bank/account2")
sqlContext.registerDataFrameAsTable(accounts,"accounts")
accounts.printSchema()

root
 |-- account_number: long (nullable = true)
 |-- address: string (nullable = true)
 |-- age: long (nullable = true)
 |-- balance: long (nullable = true)
 |-- city: string (nullable = true)
 |-- email: string (nullable = true)
 |-- employer: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- index: struct (nullable = true)
 |    |-- _id: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)

In [25]:
sqlContext.sql("select account_number, firstname, lastname, balance from accounts limit 5").show()

+--------------+---------+--------+-------+
|account_number|firstname|lastname|balance|
+--------------+---------+--------+-------+
|           509|   Durham| Pacheco|  34754|
|          null|     null|    null|   null|
|           523|   Amalia|Benjamin|  28729|
|           535|      Fry|  George|   8715|
|          null|     null|    null|   null|
+--------------+---------+--------+-------+