# Elasticsearch datasource example with Spark 1.6
The following notebook shows how to use the elasticsearch datasource connector from Scala.

In [8]:
import org.elasticsearch.spark._
import org.apache.spark.{SparkConf, SparkContext}
import org.apache.spark.sql.SQLContext

In [9]:
sc.stop

In [10]:
val conf = new SparkConf(true).setMaster("local[*]").setAppName("Jupyter Scala").set("es.nodes","elasticsearch")
val sc = new SparkContext(conf)
val sqlContext = new SQLContext(sc)

### Load some test data into elasticsearch
The test data provides a number of bank account documents.

In [11]:
var bank_accounts = sqlContext.read.json("accounts.json")
bank_accounts.write.mode("overwrite").format("org.elasticsearch.spark.sql").save("bank/account")
bank_accounts.count()

2000

In [12]:
val accounts = sqlContext.read.format("org.elasticsearch.spark.sql").load("bank/account")
accounts.printSchema
accounts.show

root
 |-- account_number: long (nullable = true)
 |-- address: string (nullable = true)
 |-- age: long (nullable = true)
 |-- balance: long (nullable = true)
 |-- city: string (nullable = true)
 |-- email: string (nullable = true)
 |-- employer: string (nullable = true)
 |-- firstname: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- index: struct (nullable = true)
 |    |-- _id: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)

+--------------+--------------------+----+-------+----------+--------------------+---------+---------+------+-----+----------+-----+
|account_number|             address| age|balance|      city|               email| employer|firstname|gender|index|  lastname|state|
+--------------+--------------------+----+-------+----------+--------------------+---------+---------+------+-----+----------+-----+
|          null|                null|null|   null|      null|                null|     null|     null|  null|[511]|      null| null|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[516]|      null| null|
|           516|   770 Cherry Street|  37|  44940|Carrsville|roysmith@parleyne...|Parleynet|      Roy|     M| null|     Smith|   RI|
|           523|  173 Bushwick Place|  40|  28729|   Jacumba|amaliabenjamin@se...|   Sentia|   Amalia|     F| null|  Benjamin|   OK|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[535]|      null| null|
|           547|  744 Withers Street|  32|  12870|   Chelsea|eatonrios@podunk.com|   Podunk|    Eaton|     M| null|      Rios|   IA|
|           566| 349 Winthrop Street|  37|   6183|  Rosewood| coxroman@medcom.com|   Medcom|      Cox|     M| null|     Roman|   WY|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[580]|      null| null|
|           597|  139 Forbell Street|  33|  11246|  Vallonia|pennyknowles@ersu...|    Ersum|    Penny|     M| null|   Knowles|   IA|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[605]|      null| null|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[617]|      null| null|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[624]|      null| null|
|           631|      447 Hunts Lane|  32|  21657|     Wyano|corrinebarber@qua...| Quarmony|  Corrine|     F| null|    Barber|   IL|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[636]|      null| null|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[643]|      null| null|
|           648| 115 Franklin Avenue|  21|  11506|    Bascom|terrymontgomery@e...| Enervate|    Terry|     F| null|Montgomery|   MA|
|           667|496 Coleridge Street|  32|  22559|  Wilsonia|julianachase@comt...| Comtract|  Juliana|     M| null|     Chase|   NJ|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[686]|      null| null|
|           701|     187 Moore Place|  27|  23772|  Coventry|gardnergriffith@v...|  Vertide|  Gardner|     M| null|  Griffith|   NV|
|          null|                null|null|   null|      null|                null|     null|     null|  null|[718]|      null| null|
+--------------+--------------------+----+-------+----------+--------------------+---------+---------+------+-----+----------+-----+
only showing top 20 rows